/*
 * This is the global stylesheet manifest file.  Files or plugins
 * referenced from here or placed in the application/ directory will be
 * included in all subsites.  This file is included by front.css and all
 * subsites.
 *
 *= require_self
 *= require_tree ./application
*/
.field {
  width: 960px;
  height: 540px;
  position: relative;
}

.entity {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
}
